body {
  background-color: rgba(18, 36, 77, 0.97);
  background-image: radial-gradient(
    circle,
    rgb(18, 36, 77) 20%,
    rgba(0, 0, 0, 1) 88%
  );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 97vh;
}
.calculator {
  border: 3px solid black;
  padding: 25px 50px 25px 50px;
  border-radius: 13px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.583);
  background-color: rgba(11, 31, 78, 0.421);
}
.calculating-panel {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px 1px rgba(0, 0, 0, 0.583);
}
.screen {
  background: transparent;
  color: white;
  height: 50px;
  width: 350px;
  text-align: end;
  font-size: 30px;
  border: none;
  cursor: text;
}
.screen::placeholder {
  text-align: end;
  font-size: 30px;
  padding-top: 25px;
  color: rgb(216, 216, 216);
  opacity: 0.8;
}
.calculating-buttons {
  margin-top: 20px;
}
.calculating-buttons > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
button {
  margin-right: 0px;
  margin-bottom: 0px;
  height: 70px;
  width: 70px;
  font-weight: bold;
  background-color: black;
  color: rgba(255, 255, 255, 0.909);
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 2px 2px 1px 1px rgba(128, 6, 0, 0.815);
  transition: box-shadow 0.3s, background-color 0.2s, transform 0.2s;
  cursor: pointer;
  border: 1px solid rgb(13, 9, 9);
}
button:hover {
  background-color: rgb(22, 20, 20);
}
button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
.equals {
  background-color: rgb(255, 102, 0);
  border: 3px solid rgba(242, 70, 7, 0.772);
  box-shadow: 2px 2px 2px 2px rgb(236, 108, 4);
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
}
.equals:hover {
  background-color: rgba(255, 102, 0, 0.738);
}
.equals:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
